<html>
	<head>
		<title>Todo App</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

	</head>

	<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/login">
            <div class="field">
                <label>Enter phone number</label>
                <input type="text" name="phone_num" placeholder="Enter phone..."><br>
                <label>Enter password</label>
                <input type="text" name="password" placeholder="Enter password..."><br>
            </div>
            <button class="ui blue button" type="submit">Login</button>
        </form>
        <br/>
        <button class="ui green button" onclick="window.location.href='/register'">Register</button>
       </body>



</html>